# Sesi 1

Introduction, Data Type, and Variables

## Integers

In [1]:
print(123123)

123123

In [2]:
print (10)

10

In [3]:
print(type(10))

<class 'int'>

## Floating Point

In [4]:
print(4.2)

4.2

In [5]:
print(4.)

4.0

In [6]:
print(.2)

0.2

In [7]:
print(.4e7)

4000000.0

In [8]:
print(4.2e-4)

0.00042

In [9]:
print(type(4.2))

<class 'float'>

## String

In [10]:
print('Hactiv8')

Hactiv8

In [11]:
print(type('Hactiv8'))

<class 'str'>

In [12]:
print('This string contains a single quote (') character.')

SyntaxError: invalid syntax (<ipython-input-12-4fb72c6c5730>, line 1)

In [13]:
print('This string contains a single quote ('') character')

This string contains a single quote () character

In [14]:
print('This string contains a single quote ( ' ) character')

SyntaxError: invalid syntax (<ipython-input-14-6e268830d5b4>, line 1)

## Boolean

In [15]:
print(True)

True

In [17]:
print(True)
print(False)

True
False

In [18]:
print(type(True))

<class 'bool'>

In [19]:
print(type('True'))

<class 'str'>

## Variables

In [20]:
kotak_donat = 5

In [21]:
print(kotak_donat)

5

In [22]:
print(type(kotak_donat))

<class 'int'>

In [23]:
kotak_donat = 7
print(kotak_donat)

7

In [25]:
kotak_1 = kotak_2 = kotak_3 = 3
print(kotak_1, kotak_2, kotak_3)

3 3 3

In [26]:
var = 23.5
print(var)

var = ("Now I'm a string")
print(var)

23.5
Now I'm a string

## Arithmatic Operators

In [27]:
a = 4
b = 3

In [28]:
print(a + b)

7

In [29]:
a - b

1

In [30]:
a * b

12

In [31]:
a / b

1.3333333333333333

## Comparison Operators

In [32]:
a = 10
b = 20

In [33]:
a == b

False

In [34]:
a != b

True

In [35]:
a <= b

True

In [36]:
a >= b

False

In [37]:
print (a == b)

False

In [38]:
print (a != b)
print (a <= b)
print (a >= b)

True
True
False

## String Manipulation

In [39]:
s = 'foo'
t = 'bar'

In [43]:
s + t

'foobar'

In [41]:
print('Hactiv ' + 'GIT')

Hactiv GIT

In [42]:
s * 4

'foofoofoofoo'

In [44]:
s in 'That food is for us'

True

In [45]:
s in t

False

In [46]:
'foo' in 'That good for us'

False

In [52]:
z = 'HackTIV8 jakarta'
print(z.capitalize())

Hacktiv8 jakarta

In [48]:
print(z.capitalize())

Hacktiv8

In [56]:
z.lower()

'hacktiv8 jakarta'

In [50]:
z.swapcase()

'hACKtiv8'

In [53]:
z.title()

'Hacktiv8 Jakarta'

In [54]:
z.upper()

'HACKTIV8 JAKARTA'

In [55]:
z.swapcase()

'hACKtiv8 JAKARTA'

## Lists

In [57]:
barangDiKamar = ['kasur', 'meja', 'lampu', 'frame']

In [58]:
barangDiKamar
print(barangDiKamar)

['kasur', 'meja', 'lampu', 'frame']

In [59]:
print(barangDiKamar)

['kasur', 'meja', 'lampu', 'frame']

In [60]:
a = [21.42, 'foo', 3, False]

In [61]:
print (a)

[21.42, 'foo', 3, False]

In [63]:
a == barangDiKamar

False

In [64]:
print(a[0])

21.42

In [65]:
print(a[2])

3

In [66]:
print(a[1])

foo

In [67]:
a[-1]

False

In [68]:
a[0]

21.42

In [69]:
barangDiKamar[-1]

'frame'

In [70]:
a[-1]

False

In [71]:
a[-2]

3

In [72]:
vira = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [73]:
vira [2:5]

['baz', 'qux', 'quux']

In [74]:
vira [3:5]

['qux', 'quux']

In [75]:
vira [1:3]

['bar', 'baz']

In [76]:
vira[:4]

['foo', 'bar', 'baz', 'qux']

In [77]:
vira[4:]

['quux', 'corge']

In [79]:
vira[:]

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [83]:
barangDiKamar + ['kulkas', 'AC']

['kasur', 'meja', 'lampu', 'frame', 'kulkas', 'AC']

In [81]:
barangDiKamar * 2

['kasur', 'meja', 'lampu', 'frame', 'kasur', 'meja', 'lampu', 'frame']

In [84]:
len(barangDiKamar)

4

In [85]:
barangDiKamar + vira

['kasur',
 'meja',
 'lampu',
 'frame',
 'foo',
 'bar',
 'baz',
 'qux',
 'quux',
 'corge']

In [86]:
min(barangDiKamar)

'frame'

In [88]:
max(barangDiKamar)

'meja'

In [90]:
barangDiKamar

['kasur', 'meja', 'lampu', 'frame']

In [91]:
barangDiKamar[2] = 'AC'

In [92]:
barangDiKamar

['kasur', 'meja', 'AC', 'frame']

In [93]:
del barangDiKamar[-1]

In [94]:
barangDiKamar

['kasur', 'meja', 'AC']

In [95]:
barangDiKamar = barangDiKamar + ['lemari']

In [96]:
barangDiKamar

['kasur', 'meja', 'AC', 'lemari']

In [97]:
print(barangDiKamar[1:3])

['meja', 'AC']

In [98]:
barangDiKamar

['kasur', 'meja', 'AC', 'lemari']

In [99]:
['kasur', 'meja', 'AC', ['kemeja', 'kaos', 'celana']]

['kasur', 'meja', 'AC', ['kemeja', 'kaos', 'celana']]

In [105]:
print (barangDiKamar[3])

lemari

## Tuples

In [106]:
nama_bulan_awal = 'january', 'february', 'march'

In [107]:
nama_bulan_awal

('january', 'february', 'march')

In [108]:
nama_bulan_awal[1]

'february'

In [109]:
nama_bulan_awal[2] = 'april'

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [113]:
identitas = {'nama' : 'Vira', 
            'alamat': 'Jakarta',
            'email' : 'vira@mail.com'}

In [114]:
identitas

{'nama': 'Vira', 'alamat': 'Jakarta', 'email': 'vira@mail.com'}

In [115]:
identitas ['nama']

'Vira'

In [116]:
identitas ['noHP'] = '08123456789'

In [117]:
identitas

{'nama': 'Vira',
 'alamat': 'Jakarta',
 'email': 'vira@mail.com',
 'noHP': '08123456789'}

In [119]:
identitas ['noHP']

'08123456789'

In [120]:
identitas ['noHP'] = '082123456789'

In [121]:
identitas

{'nama': 'Vira',
 'alamat': 'Jakarta',
 'email': 'vira@mail.com',
 'noHP': '082123456789'}

In [122]:
# delete a value

In [123]:
del identitas['noHP']

In [124]:
identitas

{'nama': 'Vira', 'alamat': 'Jakarta', 'email': 'vira@mail.com'}

In [125]:
identitas.items

In [126]:
identitas.items()

dict_items([('nama', 'Vira'), ('alamat', 'Jakarta'), ('email', 'vira@mail.com')])

In [127]:
identitas.keys()

dict_keys(['nama', 'alamat', 'email'])

In [128]:
identitas.values()

dict_values(['Vira', 'Jakarta', 'vira@mail.com'])

## Line Continuation

In [129]:
person1_age = 42
person2_age = 16
person3_age = 71

In [134]:
someone_is_of_working_age = (
(person1_age >= 18 and person1_age <=65)
or (person2_age >= 18 and person2_age <=65)
or (person3_age >= 18 and person3_age <=65)
)

In [138]:
someone_is_of_working_age

True